root = true

[*]
charset = utf-8
indent_style = space

[*.{cs,cake}]
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true

[*.{xml,json,xaml,nuspec,config}]
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = true
